---
layout: default
---

<div class='container'>
    <header class="masthead text-center">

      <img class='img-responsive center-block' src="/images/post/hkust.jpg" width="100%" height="100%" />
      
      <iframe class="slideshow-iframe" src="https://ustultrasound.github.io/slides/my-pics1.html" style="width:100%" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>

      <p align="left">
      <i>
        Welcome to Ultrasound research group at Hong Kong University of Science and Technology (HKUST) led by Dr. Fan Shi. We aim to solve academic and industrial problems using ultrasound, through fundamental research of elastic wave propagation to real-world applications. The primary industrial application is to develop new inspection and monitoring techniques for Non-destructive evaluation of defects and materials in safety-critical components used in nuclear power plants, aircrafts and high-speed railways etc. Current research focuses on developing new modelling techniques for elastic wave scattering and advanced ultrasonic inversion/imaging approaches. We are working closely with various industrial sectors including nuclear, oil/gas, aerospace and civil engineering in Great Bay Area (HK+Macau+Guangdong), for different research and consultancy projects. Some of the research output is directly transferred to industrial applications.
      </i>
      </p>
      <p>

        <span style="display: block; margin-bottom: 3em"></span>

      
      <a href="mailto:maefanshi@ust.hk"><i class="fa fa-envelope-o"></i> maefanshi@ust.hk</a>
      </p>

      <div class="w3-container" style="   background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8">
        <div style="text-align:left">
          <h3> Recent News </h3>
          <u>Happenings of the last two months. Updated 11/18/2019</u>
          <span style="display: block; margin-bottom: 1em"></span>
          <div class="news">
              {% capture now %}{{'now' | date: '%s' | minus: 5184000 %}}{% endcapture %}
              <ul style="list-style-position:outside;padding:20px" >
                {% for new in site.data.news %}
                  {% capture date %}{{new.date | date: '%s' | plus: 0 %}}{% endcapture %}
                  {% if date > now %}
                    <li>
                      <span>
                        {{ new.details }}
                      </span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          </div>
        </div >
      </div>



      <span style="display: block; margin-bottom: 3em"></span>


      
      <span style="display: block; margin-bottom: 3em"></span>
      Department of Mechanical and Aerospace Engineering <br>
      The Hong Kong University of Science and Technology, Clear Water Bay, Hong Kong
      <span style="display: block; margin-bottom: 3em"></span>

    </header>
</div>
